/* General settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#amyFoosh {
    margin: 4px;
    color: white;
}

#amyFoosh a {
    color: purple;
    font-weight: bold;
}

#container-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

#container p {
    font-size: 24px;
}

#container button {
    user-select: none;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: rgb(20, 20, 20);
    background-color: lightblue;
    border: 4px solid rgb(120, 180, 200);
    cursor: pointer;
    transition: all 0.5s ease;
}

#container button:hover {
    color: white;
    background-color: rgb(120, 180, 200);
    border: 4px solid lightblue;
}